<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1><%= @user.username %> posted a blog. (<%= @blog.title %>)</h1>
    <p>
        Please follow the link for blog- 'http://127.0.0.1:3000/blogs/<%= @blog.id %>'
    </p>
    <p>Thanks for reading and have a great day!</p>
    <p>The blogapp team</p>

  </body>
</html>
