<%= form_with url: blog_comments_path(@blog) do |form| %>
  <div class="mb-3">
    <%= form.label :comment, "Comment", class: "form-label" %>
    <%= form.text_area :comment_text, class: "form-control", rows: "3", required: true %>
  </div>
  <%= form.submit "Comment", class: "btn btn-primary" %>
<% end %>
