<h5 class="card-title">Edit Comment</h5>
<%= form_with model: @comment, method: "patch" do |form| %>
  <div class="mb-3">
    <%= form.text_area :comment_text, class: "form-control", rows: "3", required: true %>
  </div>
  <%= form.submit "Comment", class: "btn btn-primary" %>
<% end %>
