
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Notifications</h5>
            <ul class="list-group">
              <li class="list-group-item">New comment on your blog post</li>
              <li class="list-group-item">Your post got featured</li>
              <li class="list-group-item">You have a new follower</li>
              <li class="list-group-item">Someone liked your blog</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>