<h5 class="card-title">Notifications</h5>
<ul class="list-group">
  <% @notifications.each do |n| %>
    <li class="list-group-item">
      <% if n.refer_to_type == "User" %>
        <%= link_to n.notification_text, profile_path(n.refer_to.username), class: "text-dark my-2", style: "text-decoration: none" %>
      <% else %>
        <%= link_to n.notification_text, n.refer_to, class: "text-dark my-2", style: "text-decoration: none" %>
      <% end %>

      <span class="text-secondary badge">
        <%= link_to "Delete", notification_path(n), data: { turbo_method: "delete" } %>
      </span><br>
    </li>
  <% end %>
</ul>
