<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold">401</h1>
    <p class="fs-3"> <span class="text-danger">Opps!</span> Unauthorized.</p>
    <p class="lead">
        You are not authorized to perform this action.
    </p>
    <%= link_to "Go Home", blogs_path, class: "btn btn-primary" %>
  </div>
</div>
