<h5 class="card-title">Following</h5>
<ul class="list-group">
  <% @following.each do |f| %>
    <%= render "list_follow", user: f.user, check_id: f.follower_user_id, btn_text: "Unfollow", follow: f %>
  <% end %>
</ul>
