<h5 class="card-title">Followers</h5>
<ul class="list-group">
  <% @followers.each do |f| %>
    <%= render "list_follow", user: f.follower_user, check_id: f.user_id, btn_text: "Remove", follow: f %>
  <% end %>
</ul>
